.content ul {
  padding-left: 16px;
}
.content li {
  list-style-type: square;
}

@media (min-width: 520px) {
  .content .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 24px;
  }
}
