/* Font */
@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@400;600;900&display=swap");

h1,
h2,
h3 {
  font-weight: 900;
  margin-top: 0;
}
h1 {
  font-size: 36px;
  margin-bottom: 0;
}
h2 {
  font-size: 24px;
  margin-bottom: 16px;
}
h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 8px;
}

p {
  margin-top: 0;
}

hr {
  margin-bottom: 24px;
}

.wrapper {
  font-family: "Gothic A1", sans-serif;
  box-sizing: border-box;
  max-width: 1024px;
  margin: 0 auto;
  padding: 64px 16px 32px; /* top, sides, bottom */
}

.subtitle {
  font-size: 10px;
  font-weight: 900;
  color: #797979;
  text-transform: uppercase;
}
